body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: url(https://images.unsplash.com/photo-1624469600761-6acd071481d9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100vw 100vh; 
    


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.imageDisplayWrapper {
  margin-top: 25px;
}
.imageToDisplay {
  width: 550px; 
  height: 350px; 
  border: 1px solid black;
}
.adiv {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding-top: 10px;
  
  
}



.auth {
  
}
/*
wEATHER
*/

.search-box .search-bar {
  padding: 15px;
  appearance: none;
  background: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 15px;

  transition: 0.4s ease;
  
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.all-weather {
  padding-left: 0%;
  padding-top: 0%;
  width: 100%; max-width: 100%; height: 40;
  width: 100%;
  height: 40%;

  text-align: center;

}


.mb-3  {
  max-width: 350px;
}


/*
Login and Registration
*/
form {
  padding: 15px;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.75);
  outline: none;
  max-width: 350px;
}

.form-label {
  color: black;
}

.form-control {
  color: black;
}
.dropdown-item {
  max-width: 350px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(255, 254, 254, 0.322);
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  border: 5px;
  
}
.iframe-container iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  
  
}
.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 60%;
  border: 2px solid rgb(255, 255, 255);
}

.main {
  border: 9px solid rgb(173, 32, 32);
  padding-top: 56.25%; 
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-brand:hover {
  color: white;
}

.navlink {
  padding-bottom: 1%;
  
}
.link {
  padding-right: 15px;
}
.navbar-toggler:focus {
  outline: 0;
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(163, 163, 163);
  font-size: 18px;
}
.navlink:active {
  padding-bottom: 1%;
  color:rgba(255, 255, 255, 0.5)
}
.nav-link:focus {
  color: rgb(255, 255, 255);
}
.navbar-light:focus {
  color: white
}

.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}
.fish {
  text-align: center;
 
}
.weatherh1 {
  padding-right: 100%;
  
  
}

.fishimg {
  border: 3px solid rgb(60, 63, 233);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}
.navbar-brand {
  font-size: 25px;
  border-style:groove;
  border-radius: 5px;
}

.navbar-light .navbar-toggler-icon {
  background-color: rgba(255, 255, 255, 0.123) !important;
  color: white !important;
  
}
.youtubeimg {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 145px;
  height: 100px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}